h1 {
    color: rgb(31, 28, 236);
}
h1 {
    font-size: 35px;
}

body {
    max-width: 900px;
    margin: 0 auto;
    padding: 10px;
}

#tulos {
    padding: 1em;
}

#piechart {
    margin-left: 30px;
    margin-right: 30px;
    width: 800px;
    height: 400px;
    border:1px solid blueviolet;
}